<html>
  <head>
    <title>Message App</title>
    <link
      rel="stylesheet"
      href="/styles/styles.css"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Coiny&family=Patrick+Hand&family=Patrick+Hand+SC&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('header.ejs') %>
    <div class="flex justify-center items-center mt-[15vh]">
      <div
        class="w-[44vw] h-[54vh] p-8 <%=item.bg %> -rotate-6 hover:rotate-0 transition hover:duration-400 hover:scale-110 hover:border-4 border-gray-500 shadow-2xl hover:z-1 ease-in-out cursor-pointer hover:p-7 overflow-y-auto"
      >
        <p class="font-data text-4xl"><%= item.user %>'s Message:</p>
        <div class="font-data text-3xl"><%= item.added %></div>
        <div class="mt-8 font-data text-2xl"><%= item.text %></div>
      </div>
    </div>
  </body>
</html>
