<html>
  <head>
    <title>Message Board</title>
    <link
      rel="stylesheet"
      href="/styles/styles.css"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Coiny&family=Patrick+Hand&family=Patrick+Hand+SC&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/images/cursor.png"
      type="image/x-icon"
    />
  </head>
  <body class="bg-[#CBD1DB] overflow-x-hidden">
    <%- include('header.ejs') %>
    <div class="h-screen">
      <div
        class="absolute top-32 left-12 text-xl cursor-pointer font-body font-semibold"
      >
        <a
          href="/"
          class="group hover:scale-105 transition duration-200"
        >
          Go Back
          <span
            class="absolute left-0 bottom-0 h-[2px] w-0 bg-black transition-all duration-300 group-hover:w-full"
          ></span>
        </a>
      </div>
      <div class="flex justify-center items-center my-[15vh]">
        <div
          class="w-[44vw] break-words h-[54vh] p-8 <%=item.bg %> -rotate-6 hover:rotate-0 transition hover:duration-400 hover:scale-110 hover:border-4 border-gray-500 shadow-2xl hover:z-1 ease-in-out cursor-pointer hover:p-7 overflow-y-auto"
        >
          <p class="font-data text-4xl"><%= item.user %>'s Message:</p>
          <div class="font-data text-3xl"><%= item.added %></div>
          <div class="mt-8 font-data text-2xl"><%= item.text %></div>
        </div>
      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>
